{% extends "layout.html" %}
{% block body %}
<div class="colmask doublepage">
	<div class="colleft">
		<div class="col1">
			<h3> Domain DNS info </h3>
			{% for out_line in  dig %}
			{{ out_line }}<br>
			{% else %}
			<br>
			Please enter a domain and click submit
			{% endfor %}
			<h3> Domain header info </h3>
			{% for out_line in  headers %}
			{{ out_line }}<br>
			{% else %}
			<br>
			Please enter a domain and click submit
		{% endfor %}
		</div>
		<div class="col2">
			<h3> Domain registrar info </h3>
			{% for out_line in  whois %}
			{{ out_line }}<br>
			{% else %}
			<br>
			Please enter a domain and click submit
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

