<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>dCheck Tool</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="Domain check tool" />
	<meta name="keywords" content="Domain check, whois, header info, DNS" />
	<meta name="robots" content="index, follow" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="header">
	<form action="{{ url_for('index') }}" method=post >
	<h1> dCheck</h1>
        <h2><input class=rounded type=text placeholder="Enter a domain.." size=30 name="domain"><input type=submit value=check></h2>
	</form>  
</div>
  {% block body %}{% endblock %}
<div id="footer">
	<p>Coded and build by <a href="http://yoman.in">Hossan Rose</a>. Layout from <a href="http://matthewjamestaylor.com/blog/perfect-2-column-double-page.htm">Matthew James Taylor</a>.</p>
</div>
</body>
</html>
